In [1]:
# Importer les différentes bibliothèques de traitement des données
import pandas as pd, numpy as np

In [2]:
# Lire le fichier CSV prétraité
data  = pd.read_csv(r"./final_dataset.csv", sep = ";")

In [3]:
# Afficher le résultat
data

,sexe,age,fumer,alcool,sport,activite_physique,heures_repos,maladie_chronique,maladie
0,homme,37,Non,Non,Non,Oui,8,Oui,Asthmatique
1,homme,37,Oui,Non,Oui,Oui,9,Non,NaN
2,femme,64,Non,Non,Non,Oui,9,Oui,Diab�te
3,homme,44,Oui,Non,Non,Non,8,Non,NaN
4,homme,25,Non,Non,Non,Non,2,Non,NaN
...,...,...,...,...,...,...,...,...,...
86,femme,27,Non,Non,Oui,Oui,"6,7",Oui,Diab�te
87,femme,27,Non,Non,Oui,Oui,"6,7",Oui,Asthmatique
88,femme,20,Non,Non,Non,Oui,14,Oui,Tension
89,femme,19,Non,Non,Non,Non,8,Oui,Diab�te
90,femme,19,Non,Non,Non,Non,8,Oui,Asthmatique

In [4]:
# Creer une variable intervales d'ages qui classesnt les personnes selon la plage d'age ou elles appartiennet 
intervales_ages = pd.cut(data.age, bins=[0,18,25,45,70],labels=["<=18", "18-25", "25-45", "45-70"])

# Inserer cette variable dans notre dataframe
data.insert(1,"intervales_ages",intervales_ages)

# Afficher le résultat
data

,sexe,intervales_ages,age,fumer,alcool,sport,activite_physique,heures_repos,maladie_chronique,maladie
0,homme,25-45,37,Non,Non,Non,Oui,8,Oui,Asthmatique
1,homme,25-45,37,Oui,Non,Oui,Oui,9,Non,NaN
2,femme,45-70,64,Non,Non,Non,Oui,9,Oui,Diab�te
3,homme,25-45,44,Oui,Non,Non,Non,8,Non,NaN
4,homme,18-25,25,Non,Non,Non,Non,2,Non,NaN
...,...,...,...,...,...,...,...,...,...,...
86,femme,25-45,27,Non,Non,Oui,Oui,"6,7",Oui,Diab�te
87,femme,25-45,27,Non,Non,Oui,Oui,"6,7",Oui,Asthmatique
88,femme,18-25,20,Non,Non,Non,Oui,14,Oui,Tension
89,femme,18-25,19,Non,Non,Non,Non,8,Oui,Diab�te
90,femme,18-25,19,Non,Non,Non,Non,8,Oui,Asthmatique

In [5]:
data

,sexe,intervales_ages,age,fumer,alcool,sport,activite_physique,heures_repos,maladie_chronique,maladie
0,homme,25-45,37,Non,Non,Non,Oui,8,Oui,Asthmatique
1,homme,25-45,37,Oui,Non,Oui,Oui,9,Non,NaN
2,femme,45-70,64,Non,Non,Non,Oui,9,Oui,Diab�te
3,homme,25-45,44,Oui,Non,Non,Non,8,Non,NaN
4,homme,18-25,25,Non,Non,Non,Non,2,Non,NaN
...,...,...,...,...,...,...,...,...,...,...
86,femme,25-45,27,Non,Non,Oui,Oui,"6,7",Oui,Diab�te
87,femme,25-45,27,Non,Non,Oui,Oui,"6,7",Oui,Asthmatique
88,femme,18-25,20,Non,Non,Non,Oui,14,Oui,Tension
89,femme,18-25,19,Non,Non,Non,Non,8,Oui,Diab�te
90,femme,18-25,19,Non,Non,Non,Non,8,Oui,Asthmatique

In [6]:
# Créer une table pivot qui prend en entrée le dataframe, on applique la fonction d'aggrégation count sur les maladies en indexant lse données par intervales d'age et en gardant que les colonnes sexe et activité physique
table1 = pd.pivot_table(data, columns=["sexe","alcool","fumer"], index=["maladie", "intervales_ages"], aggfunc={"maladie":"count"})
table1

                                    maladie
sexe                                  femme             homme
alcool                                  Non     Oui       Non     Oui
fumer                                   Non Oui Non Oui   Non Oui Non Oui
maladie             intervales_ages
Asthmatique         <=18                  1   0   0   0     1   0   0   0
                    18-25                 2   0   0   0     1   0   0   0
                    25-45                 2   0   0   0     1   0   0   0
                    45-70                 0   0   0   0     0   0   0   0
Cardiaque           <=18                  0   0   0   0     0   0   0   0
                    18-25                 0   0   0   0     0   0   0   0
                    25-45                 1   0   0   0     0   0   0   0
                    45-70                 0   0   0   0     0   0   0   0
Diab�te             <=18                  3   0   0   0     0   0   0   0
                    18-25                 5   0   0   0     8   0   0   0
                    25-45                 6   0   0   0     4   1   0   1
                    45-70                 1   0   0   0     1   0   0   0
Insuffisance r�nale <=18                  0   0   0   0     0   0   0   0
                    18-25                 1   0   0   0     0   0   0   0
                    25-45                 0   0   0   0     0   0   0   0
                    45-70                 0   0   0   0     0   0   0   0
Tension             <=18                  1   0   0   0     1   0   0   0
                    18-25                10   0   0   0     7   1   0   0
                    25-45                 3   0   0   0     2   0   3   1
                    45-70                 0   0   0   0     0   0   0   0

In [7]:

table1.to_csv("Data_diagramme_2_maladie_age_sexe_fumer_alchol.csv")